@import '../../../constants/colorCodes';

.add-new-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-self: stretch;
  padding-top: 20px;
}

.add-new-input-container {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
  align-items: center;
}

h1 {
  color: $white
}

.add-new-form-container {
  display: flex;
  flex-direction: column;
  flex: 1;
  align-items: center;
}

.verify-button-container {
  display: flex;
  justify-content: center;
}

.verify-button {
  max-width: 1200px;
}

.add-new-indicator-card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 20px;
}