@import '../../constants/colorCodes.scss';

.channel-thumbnail-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgba(202, 62, 71, 0.9);
  justify-content: center;
  text-align: center;
}

.hovered {
  border-top: 1px dashed $white;
  border-left: 1px dashed $white;
  border-right: 1px dashed $white;
}