@import '../../constants/colorCodes.scss';

.paylist-thumbnail-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.playlist-thumnail {
  display: flex;
  flex: 7;
  flex-direction: column;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgba(202, 62, 71, 0.9);
  justify-content: center;
  text-align: center;
}

.side-borders {
  border-left: 1px dashed $white;
  border-right: 1px dashed $white;
}

.top-border {
  border-top: 1px dashed $white;
}

.paylist-tier-one {
  flex: 1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-right: 10px;
  margin-left: 10px;
}

.paylist-tier-two {
  flex: 1;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-right: 20px;
  margin-left: 20px;
}

.background-dark {
  background-color: $backgroundDark;
}

.background-medium {
  background-color: $backgroundMedium;
}

.background-light {
  background-color: $backgroundLight;
}