@import '../../constants/colorCodes.scss';

.paylist-thumbnail-container {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.playlist-thumnail {
  display: flex;
  flex: 5;
  flex-direction: column;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-color: rgba(202, 62, 71, 0.9);
  justify-content: center;
  text-align: center;
}

.paylist-tier-one {
  flex: 1;
  border-width: 3px 3px 0px 3px;
  border-style: solid;
  border-color: $backgroundLight;
  //border-color: rgba(202, 62, 71, 0.9);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-right: 10px;
  margin-left: 10px;
  background-color: $backgroundMedium;
}

.paylist-tier-two {
  flex: 1;
  border-width: 3px 3px 0px 3px;
  border-style: solid;
  border-color: $backgroundLight;
  //border-color: rgba(202, 62, 71, 0.9);
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  margin-right: 20px;
  margin-left: 20px;
  background-color: $backgroundDark;
}