@import '../../constants/colorCodes';

.video-card-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin-left: 20px;
  margin-bottom: 20px;
}

.video-card-thumbnail-container {
  background-color: $highlight;
  width: 300px;
  height: 155px;
}

.video-card-detail-container {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  padding-bottom: 5px;
  padding-top: 10px;
}

.video-card-title-row {
  display: flex;
  flex-direction: row;
  padding-left: 5px;
  padding-top: 3px;
}

.name-text {
  color: $white;
  font-weight: bolder;
  font-size: 16px;
}

.channel-text {
  color: $white;
  font-size: 12px;
}

.video-card-specs-container {
  display: flex;
  flex-direction: row;
  justify-content: right;
}

.queue-item-specs-item {
  color: $white;
  font-size: 12px;
  padding: 1px 10px 1px 10px;
  border-radius: 5px;
  margin-left: 5px;
  background-color: $backgroundLight;
}

.video-card-length-container {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
  padding-right: 5px;
}

.video-card-length-value {
  margin-left: 4px;
  color: $textLight;
}