@import '../../constants/colorCodes';

.header-container {
  display: flex;
  height: 60px;
  flex-direction: row;
  align-self: stretch;
  justify-content: flex-start;
  align-items: center;
  padding-left: 10px;
  background-color: $backgroundMedium;
  z-index: 99;
}

.text {
  font-size: 36px;
  color: $textLight
}