
.dashboard-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 40px;
  align-items: center;
  align-content: center;
  overflow: scroll;
}

.queue-and-downloaded-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-self: stretch;
}