@import '../../constants/colorCodes';

.queue-item-container {
  display: flex;
  flex-direction: column;
  height: 75px;
  margin-left: 20px;
  margin-right: 20px;
}

.queue-item-row {
  display: flex;
  flex-direction: row;
  padding-top: 2px;
}

.queue-item-title {
  flex: 1;
  text-align: left;
  color: $white;
  font-size: 18px;
}

.queue-item-time {
  display: flex;
  flex: 1;
  flex-direction: row;
  justify-content: flex-end;
}

.queue-item-time-value {
  margin-left: 4px;
  color: $white;
}

.queue-item-channel {
  flex: 1;
  text-align: left;
  font-size: 12px;
  color: $white;
}

.queue-item-details-container {
  display: flex;
  flex-direction: row;
  flex: 1;
  justify-content: right;
}

.queue-item-details-item {
  color: $white;
  font-size: 12px;
  padding: 1px 10px 1px 10px;
  border-radius: 5px;
  margin-left: 5px;
  background-color: $backgroundDark;
}