@import '../../constants/colorCodes';

.recently-monitored-container {
  display: flex;
  align-self: stretch;
  flex-direction: column;
  margin-left: 40px;
  margin-right: 40px;
}

.recently-monitored-header {
  color: $white;
  font-size: 32px;
}

.recently-monitored-items-container {
  display: flex;
  margin-top: 20px;
  height: 250px;
  flex-direction: row;
  overflow: auto;
  white-space: nowrap;
}