@import '../../constants/colorCodes';

.navigation-menu-container {
  display: flex;
  flex-direction: column;
  max-width: 250px;
  flex: 1;
  background-color: $backgroundLight;
  padding-top: 20px;
  padding-left: 20px;
}